<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Veridical 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20131203

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="menu">
			<ul>
				<li><a href="/" accesskey="1" title="">Homepage</a></li>
				<!-- <li><a href="#" accesskey="2" title="">Research</a></li> -->
				<li class="current_page_item"><a href="#" accesskey="3" title="">Useful Links</a></li>
				<!-- <li><a href="#" accesskey="4" title="">Careers</a></li> -->
				<li><a href="/about" accesskey="5" title="">About</a></li>
			</ul>
		</div>
		<div id="logo">
			<h1><a href="#">Deep Learning Poetry Generator</a></h1>
			<!-- <span>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span> --> </div> 
	</div>
</div>

<!-- ***USEFUL LINKS*** -->
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<!-- <h2>Generate a Poem</h2> -->
			<h2>Useful Links</h2>
		</div>
		<div class="content">
		<!-- <pre> {{ results }} </pre>
			<a href="/poem" class="button">Get Poem</a> -->
		<p> We had no prior experience with Deep Learning or Neural Networks and found the following
		resources helpful during our journey in implementing our Poem Generator.  The Stanford CS224n course
		was of particular help, especially if your deep learning problem requires natural language processing.
		This is an ever expanding list, so check back again soon!</p>
		</div>
	</div>
</div>

<!-- ***CLASSES & TUTORIALS*** -->
<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Classes and Tutorials</h2>
			<!-- <span class="byline">Classes/Tutorials</span> -->
		</div>
			<div class="content">
				<p><a href="https://www.udemy.com/deeplearning">Deep Learning A-Z™: Hands-On Artificial Neural Networks</a></p>
				<p><a href="http://web.stanford.edu/class/cs224n/">Stanford University CS224n: Natural Language Processing with Deep Learning</a></p>
				<p><a href="https://deeplearning4j.org/tutorials">DeepLearning4J: Deep Learning Tutorials</a></p>
				<p><a href="https://www.tensorflow.org/tutorials/">TensorFlow Tutorials</a></p>
				<!--
				<p> We had no prior experience with Deep Learning and found the following
					resources helpful during our journey in implementing our Poem Generator </p>
				<p> We took this Udemy course on Artificial Intelligence to give us a good overview of
					the different Neural Networks and how they work. Embed image with link here...</p>
				<p> To get a more thorough low-level understanding, we also took Stanford's CS224 course 
					on Natural Language Processing with Deep Learning.  This was especially helpful in 
					understanding our specific problem and what we need to do for data pre-processing
					and training our models. Embed image with link here...</p>
				<p> Several websites and publications were insightful during our research endeavor. 
					In particular, Andrej Karpathy, the current Director of AI at Tesla has a blog with
					many useful articles and we found his article on RNNs helpful as it shows code 
					examples of various use cases of RNNs. Link here... </p>
				 -->
			</div>
	</div>
</div>


<!-- ***JOURNALS & PAPERS*** -->

<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Journals and Papers</h2>
			<!-- <span class="byline">Blogs and Websites</span> -->
		</div>
		<div class="content">
			<p><a href="https://arxiv.org/abs/1508.06615">Character-Aware Neural Language Models</a></p>
			<p><a href="https://arxiv.org/abs/1606.01700">Gated Word-Character Recurrent Language Model</a></p>
			<p><a href="http://web.stanford.edu/class/cs224n/reports/2762063.pdf ">Deep Poetry: Word-Level and Character-Level Language Models for Shakespearean Sonnet Generation</a></p>
			<p><a href="https://nlp.stanford.edu/pubs/glove.pdf">GloVe: Global Vectors for Word Representation</a></p>
			<p><a href="https://arxiv.org/pdf/1512.05287.pdf">A Theoretically Grounded Application of Dropout in Recurrent Neural Networks</a></p>
			<p><a href="https://arxiv.org/abs/1506.02078">Visualizing and Understanding Recurrent Networks</a></p>
			<p><a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.331.9441&rep=rep1&type=pdf">Bidirectional Recurrent Neural Networks</a></p>
			<p><a href="https://arxiv.org/pdf/1412.3555v1.pdf">Empirical Evaluation of Gated Recurrent Neural Networks on Sequence Modeling</a></p>
		</div>
	</div>
</div>

<!-- ***BLOGS & WEBSITES*** -->
<div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Blogs and Websites</h2>
			<!-- <span class="byline">Our final neural network model and results</span> -->
		</div>
			<div class="content">
				<p><a href="https://keras.io">Keras Documentation</a></p>
				<p><a href="https://www.tensorflow.org/programmers_guide/">TensorFlow Documentation</a></p>
				<p><a href="http://karpathy.github.io/2015/05/21/rnn-effectiveness/">The Unreasonable Effectiveness of Recurrent Neural Networks</a></p>
				<p><a href="http://www.wildml.com/2015/09/recurrent-neural-networks-tutorial-part-1-introduction-to-rnns/">Recurrent Neural Networks Tutorial</a></p>
				<p><a href="https://machinelearningmastery.com/text-generation-lstm-recurrent-neural-networks-python-keras/">Text Generation With LSTM Recurrent Neural Networks in Python with Keras</a></p>
				<p><a href="https://machinelearningmastery.com/understanding-stateful-lstm-recurrent-neural-networks-python-keras/">Understanding Stateful LSTM Recurrent Neural Networks in Python with Keras</a></p>
				<p><a href="https://medium.com/datalogue/attention-in-keras-1892773a4f22">How to Visualize Your Recurrent Neural Network with Attention in Keras</a></p>
				<p><a href="http://colah.github.io/posts/2015-08-Understanding-LSTMs/">Understanding LSTM Networks</a></p>
				<p><a href="https://medium.com/@shiyan/understanding-lstm-and-its-diagrams-37e2f46f1714">Understanding LSTM and its Diagrams</a></p>
				<p><a href="https://deeplearning4j.org/lstm.html">A Beginner's Guid to Recurrent networks and LSTMs</a></p>
				<p><a href="http://ruder.io/optimizing-gradient-descent/">An Overview of Gradient Descent Optimization Algorithms</a></p>
				<p><a href="http://ruder.io/deep-learning-nlp-best-practices/index.html#optimization">Deep Learning for NLP Best Practices</a></p>
				<p><a href="http://playground.tensorflow.org/">Neural Network Playground</a></p>
				<p><a href="http://cs.stanford.edu/people/karpathy/recurrentjs/">Deep Recurrent Nets Character Generation Demo</a></p>
			</div>
	</div>
</div>

<!-- ***BOOKS*** -->

<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Books</h2>
			<!-- <span class="byline">Blogs and Websites</span> -->
		</div>
		<div class="content">
			<p><a href="https://www.amazon.com/Fundamentals-Deep-Learning-Next-Generation-Intelligence/dp/1491925612">Fundamentals of Deep Learning by Nikhil Buduma</a></p>
			<p><a href="https://www.amazon.com/Introduction-Machine-Learning-Python-Scientists/dp/1449369413">Introduction to Machine Learning with Python by Andreas C. Muller and Sarah Guido</a></p>
			<p><a href="http://neuralnetworksanddeeplearning.com/">Neural Networks and Deep Learning by Michael Neilsen</a></p>
		</div>
	</div>
</div>

<!--
 <div id="wrapper3">
	<div id="portfolio" class="container">
		<div class="title">
			<h2>Design Portfolio</h2>
			<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> </div>
		<div class="pbox1">
			<div class="column1">
				<div class="box"> <span class="icon icon-comments"></span>
					<h3>Vestibulum venenatis</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				</div>
			</div>
			<div class="column2">
				<div class="box"> <span class="icon icon-cogs"></span>
					<h3>Praesent scelerisque</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column3">
				<div class="box"> <span class="icon icon-coffee"></span>
					<h3>Donec dictum metus</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column4">
				<div class="box"> <span class="icon icon-cloud"></span>
					<h3>Mauris vulputate dolor</h3>
					<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
		</div>
		<div class="pbox2">
			<div class="column1">
				<div class="box"> <span class="icon icon-asterisk"></span>
					<h3>Rhoncus volutpat</h3>
					<p>Fermentum nibh augue praesent a lacus at urna congue rutrum.</p>
				</div>
			</div>
			<div class="column2">
				<div class="box"> <span class="icon icon-headphones"></span>
					<h3>Sed odio sagittis</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column3">
				<div class="box"> <span class="icon icon-user"></span>
					<h3>Aenean elementum</h3>
					<p>Vivamus fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
			<div class="column4">
				<div class="box"> <span class="icon icon-signal"></span>
					<h3>Etiam posuere augue</h3>
					<p>Rutrum fermentum nibh in augue praesent urna congue rutrum.</p>
				</div>
			</div>
		</div>
	</div>

<div id="wrapper2">
	<div id="featured" class="container">
		<div class="box1">
			<h2><span class="icon icon-group"></span>Fusce ultrices fringilla</h2>
			<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
		</div>
		<div class="box2">
			<h2><span class="icon icon-briefcase"></span>Etiam posuere augue</h2>
			<p>Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</p>
		</div>
	</div>
</div>
 </div>
 -->
<div id="copyright">
	<div class="title">
		<!-- <h2>Get in touch</h2> -->
		<h2>Thanks for visiting</h2>
		<!-- <span class="byline">Phasellus nec erat sit amet nibh pellentesque congue</span> </div> -->
		<span class="byline">Keisha Arnold, Jacob Karcz, Carrie Treeful</span> </div>
	<ul class="contact">
		<!--
		<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
		<li><a href="#" class="icon icon-facebook"><span></span></a></li>
		<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
		<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
		<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
		 -->
	</ul>
	<p>&copy; All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
